//typography
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

$Poppins: "Poppins", sans-serif;

//general
body,html {
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    background-color: #9ce2e0;
    justify-content: space-between;
}

#map {
    width: 50%;
    height: 100%;
}

.hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

.landing {
    background-image: url("../data/images/landing.png");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    padding: 100px 100px;

    h1{
        margin-top: 0%;
    }
}

h1 {
    font-family: $Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 144px;

    color: #ffffff;
}

h2 {
    font-family: $Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #263238;
    margin: 0px;
}

h3 {
    color: #4c9392;
    font-family: $Poppins;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;
    margin: 10px 0px;
}

p,ul {
    font-family: $Poppins;
    font-style: normal;
    font-size: 18px;
    color: #263238;
    margin: 0px;
}

@import "button";
@import "nav";
@import "home";
@import "country";
@import "levelThree";
